.container-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  width: 900px;
  background: #0657b4dc;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 400px;
  width: 300px;
  margin: 1px 150px 1px 150px;
  background: #e4a908;
}
.info-date{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: cursive;
  margin: 1px 10px 1px 40px;
}
label,input{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
input{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 200px;
  border-radius: 1px 23px 1px 23px;
}
.button{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 130px;
  width: 140px;
}
button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 150px;
  margin: 40px 10px 1px 40px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 1px 23px 1px 23px;
}
