.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 1864px;
  background: #b88727dc;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1px 1px 1px 1px;
  list-style: none;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}
nav a {
  text-decoration: none;
  color: #000000;
}

#buttons{
  display: flex;
  flex-direction: row;
  margin: 1px 10px 1px 10px;
  font-size: 30px;
  color:#f3c8c8;
}


