.hearder{
  display: flexbox;
  flex-direction: column;
  height: 200px;
  width: 600px;
  background: #B0304D;
  border: 10px 10px 10px 10px;
  border-radius: 5px 1px 5px 1px;
  border-color: #18090c;
}

ul>li{
  display: inline;
  flex-direction: row;
  justify-content: center;
  height: 20px;
  width: 20px;
  text-decoration: none;
  list-style: none;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}
